* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-colour-01: #0c0835;
  --dark-colour-02: #272074;
  --main-colour-01: #6370e9;
  --main-colour-02: #9993e0;
  --light-colour-01: #d8baff;
  --light-colour-02: #fff;
  --contrast-colour-01: #bf40ba;
  /* fonts */
  --thick-font-weight: 900;
  --bold-font-weight: 800;
  --regular-font-weight: 500;
  --thin-font-weight: 400;
  --font-family-01: "Maven Pro", sans-serif;
  --border-radius: 9px;
}

body {
  font-family: var(--font-family-01);
}

main {
  display: grid;
  grid-template-columns: 33% 1fr;
}

header {
  margin-bottom: 2rem;
  padding: 4rem;
  background-color: var(--dark-colour-01);
  color: var(--light-colour-02);
}

header h1 {
  width: 30vw;
  font-weight: 900;
  /* text-align: center; */
  /* margin: 2rem auto; */
}
header h1 span {
  color: var(--contrast-colour-01);
}

/* FORM */

section#form {
  background: var(--main-colour-01);
  color: var(--light-colour-02);
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
}

form > * {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: var(--bold-font-weight);
  font-size: 2rem;
}

form {
  margin: 2rem;
  /* display: flex;
  flex-direction: column; */
}

/* ----labels----- */
label {
  margin-bottom: 5px;
  font-weight: var(--thin-font-weight);
}

/* ---inputs---- */

input,
select {
  /* all: unset; */
  border: none;
  border-radius: var(--border-radius);
  height: 1.8rem;
  padding: 0 10px 0 10px;
}

option {
  height: 1.8rem;
  background-color: var(--dark-colour-01);
}

option {
  appearance: none;
  height: 1.8rem;
  background-color: var(--dark-colour-01);
}

option:hover {
  background-color: var(--light-colour-01);
}

/* removing arrows from number fields: */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  width: 20%;
  -moz-appearance: textfield;
}

fieldset {
  padding: 1rem;
}

/* -----buttons----- */
button#add-genre {
  width: 2rem;
  margin-top: 2px;
  align-self: end;
}

/* ----bands-list---- */

section#bands {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

section#bands > article {
  margin: 0 auto;
}

ul {
  list-style: none;
}

@media screen and (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
  }

  section#bands {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  main {
    grid-template-columns: 1fr;
  }

  section#bands {
    grid-template-columns: 1fr;
  }
}
